[Unit]
Description=Prometheus Alert Manager
Wants=network-online.target
After=network-online.target
[Service]
Type=simple
User=alertmanager
Group=alertmanager
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/alertmanager \
	--config.file /etc/alertmanager/alertmanager.yml \
	--storage.path /var/lib/alertmanager \
	--cluster.listen-address=
[Install]
WantedBy=multi-user.target
